<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/templates/datasheet.css">
    <title>Room Schedule</title>


</head>
<body>
<form id = "room_form" name = "room_form" action="/" method="POST">

    <select name="rooms" id="rooms" size="1" onchange="chgAction()">
  <option value="414" selected>414</option>
  <option value="415">415</option>
  <option value="416">416</option>
  <option value="417">417</option>
</select>
    <script type="application/javascript">
        function chgAction() {
            var form = document.room_form;
            var selectedText = form.rooms.selectedOptions["0"].text
            console.log('chgAction()');
            console.log(form.rooms.selectedOptions["0"].text);

{#            switch (form.rooms.selected) {#}
{#                case 1:#}
{#                    form.action = "/adv_contact.php";#}
{#                    break;#}
{#                case 2:#}
{#                    form.action = "/pr_contact.php";#}
{#                    break;#}
            form.action = "/" + form.rooms.selectedOptions["0"].text;
{#            }#}
        }

    </script>
<div class="room_table">
<table class="datasheet" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th style="width: 5%;">#</th>
        <th style="width: 12%;" nowrap="nowrap">Monday</th>
        <th style="width: 12%;" nowrap="nowrap">Tuesday</th>
        <th style="width: 12%;" nowrap="nowrap">Wednesday</th>
        <th style="width: 12%;" nowrap="nowrap">Thursday</th>
         <th style="width: 12%;" nowrap="nowrap">Friday</th>
         <th style="width: 12%;" nowrap="nowrap">Saturday</th>
    </tr>
    </thead>
    <tbody>
    <tr id="set1_row1" class="datasheet_row">
        <th>9:00</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row2" class="datasheet_row">
        <th>10:00</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row3" class="datasheet_row">
        <th>11:00</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row4" class="datasheet_row">
        <th>12:00</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row5" class="datasheet_row">
        <th>1:00</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row6" class="datasheet_row">
        <th>2:00</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row7" class="datasheet_row">
        <th>2:30</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row8" class="datasheet_row">
        <th>3:00</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row9" class="datasheet_row">
        <th>4:00</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row10" class="datasheet_row">
        <th>5:30</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row11" class="datasheet_row">
        <th>6:00</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row12" class="datasheet_row">
        <th>7:30</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row13" class="datasheet_row">
        <th>8:00</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row14" class="datasheet_row">
        <th>9:00</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    <tr id="set1_row15" class="datasheet_row">
        <th>10:00</th>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
        <td><input value="" onchange="this.className='changed';" type="text"></td>
    </tr>
    </tbody>
</table>
    </div>
<div class="form_button">
	<input value="Submit Â» " type="button">
</div>
    </form>
</body>
</html>